/ChegaAiWS/nbproject/private/
/ChegaAiWS/build/
/ChegaAiWS/dist/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication1/dist/
/Teste/nbproject/private/
/Neo4jDemo/target/
/mavenproject1/target/
/mavenproject1/mavenproject1/target/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/JavaApplication3/dist/
/AgoraVai/nbproject/private/
/AgoraVai/build/
/AgoraVai/dist/
/WebServiceChegaAiNeo4j/nbproject/private/
/WebServiceChegaAiNeo4j/build/
/WebServiceChegaAiNeo4j/dist/
/Soma2Numeros/nbproject/private/
/Soma2Numeros/build/
/Soma2Numeros/dist/
/ProvaGabrielCosta/nbproject/private/
/ProvaGabrielCosta/build/
/ProvaGabrielCosta/dist/